<div class="mui-container">
  I built this in a Web Security class on <a href="https://frontendmasters.com" target='_blank'>Frontend Masters</a>.
  <span class="mui--pull-right">
    &copy; 2017 <a href="https://mike.works" target="_blank">Mike Works, Inc.</a>
  </span>
</div>