<div class="mui-appbar navbar">
  <div class="mui-container">
    <table width="100%">
      <tr style="vertical-align:middle;">
        <td class="mui--appbar-height">
          <% include brand %>
        </td>
        <td class="mui--appbar-height" align="right">
          
          <div class="mui-dropdown">
            <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
              <%= currentUser.username %>
              <span class="mui-caret"></span>
            </button>
            <ul class="mui-dropdown__menu">
              <li>
                <a href='/user/<%= currentUser.username %>'>Profile</a>
              </li>
              <li>
                <form action='/auth/logout' id='logout_form' method="POST">
                </form>
                <a onClick='document.querySelector("#logout_form").submit()'>Logout</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>