<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/mui.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="mui--appbar-height" style="border:1px solid #aaa;"></div>
    <%- body -%>
    <script type='text/javascript' src='/javascripts/mui.js' ></script>
  </body>
</html>
