<% layout('navbar-layout') -%>
<div class="mui--appbar-height"></div>
<div class="mui-panel">
  <ul class="mui-tabs__bar">
    <li>
      <a href="/">🏦 Accounts</a>
    </li>
    <li class="mui--is-active">
      <a href="/transfers">💸 Transfers</a>
    </li>
  </ul>
  <div class="mui-tabs__pane mui--is-active">
    <div class="spacer-t-20"></div>
    <form class="mui-form">
      <legend>Begin a Funds Transfer</legend>
      <div class="spacer-t-20"></div>
      <div class="mui-select">
        <select>
          <option value="0">-- Please Select --</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
        </select>
        <label>From Account</label>
      </div>
      <div class="mui-select">
        <select>
          <option value="0">-- Please Select --</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
        </select>
        <label>To Account</label>
      </div>
      <div class="mui-textfield mui-textfield--float-label">
        <input name='amount ($)' type="text" required placeholder="Amount">
        <label for="amount">Amount</label>
      </div>
      <button type="submit" class="mui-btn mui-btn--primary">
        💸 Transfer Funds
      </button>
    </form>
  </div>
</div>
