<% layout('auth/layout') -%>
<div class="spacer-t-20"></div>
<div class="mui-panel">
  <h1>Welcome!</h1>
  <p>If you're an existing user, please 
    <a href="/auth/login">Login</a>
  </p>
  <p>If you don't have an account yet, please 
      <a href="/register">Register</a>
    </p>
</div>
