<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- EXERCISE 8 requires modifying of the tag below ↓ -->
    <link rel='stylesheet' href='/stylesheets/mui.css' />
    <!-- EXERCISE 8 requires modifying of the tag below ↓ -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- EXERCISE 8 requires modifying of the tag below ↓ -->
    <script type='text/javascript' src='/javascripts/mui.js' ></script>
    <!-- ↓ EXERCISE 7 SOLUTION GOES HERE ↓
      <style></style>
    -->
  </head>
  <body>
    <%- body -%>
    <!-- ↓ EXERCISE 7 SOLUTION GOES HERE ↓
      <script></script>
    -->
  </body>
</html>