<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- EXERCISE 8 requires modifying of the tag below ↓ -->
    <link rel='stylesheet' integrity="sha256-sU/MtbpbQ14BwcGPPPI/Ce2rUa00FOAcoGxfVFNlaow=" crossorigin="anonymous" href='/stylesheets/mui.css' />
    <!-- EXERCISE 8 requires modifying of the tag below ↓ -->
    <link rel='stylesheet' integrity="sha256-hiDe9NUMRWVSJQSFtsNqwFno5yaxLCdwbajmmREoqlk=" crossorigin="anonymous" href='/stylesheets/style.css' />
    <!-- EXERCISE 8 requires modifying of the tag below ↓ -->
    <script integrity="sha256-s35yGLwtqow6vNV+nFWzF4HOpsKuPWFmagZbJ8hXbA8=" crossorigin="anonymous" type='text/javascript' src='/javascripts/mui.js' ></script>
    <!-- ↓ EXERCISE 7 SOLUTION GOES HERE ↓ -->
      <style id="clickjack">
        body{
          display:none !important;
        }
      </style>
  </head>
  <body>
    <%- body -%>
    <!-- ↓ EXERCISE 7 SOLUTION GOES HERE ↓ -->
      <script>
        if (self === top) {
          var cj = document.getElementById("clickjack");
          cj.parentNode.removeChild(clickjack);
        } else {
          top.location = self.location;
        }
      </script>
  </body>
</html>