body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  padding: 10px 0;
}
footer a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

main {
  flex: 1;
}

.navbar .brand {
  font-family: "Comic Sans MS", "Comic Sans", cursive;  
  font-size: 3rem;
}