<% layout('main-layout') -%>
<header>
  <% include ../partials/navbar-nouser %>
</header>
<main>
  <div class="mui--appbar-height"></div>
  <% if (sessionFlash) { %>
    <div class='mui-panel alert alert-<%= sessionFlash.type %>'>
      <%= sessionFlash.message %>
    </div>
  <% } %>
  <div class="mui-container"> 
    <%- body -%>
  </div>
</main>
<footer class='mui--bg-primary-light mui--text-dark'> 
  <% include ../partials/footer %>
</footer>